@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/fonts/SFProText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/fonts/SFProText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
}